<mat-toolbar>
    <span>Convertisseur Euro <mat-icon>swap_horiz</mat-icon> Dollar</span>
</mat-toolbar>
<div class="converter-container flex-col">
    <div class="flex-row">
        <span class="label bold">Taux de change: </span>
        <span class="ml-10">{{exchangeRate}}</span>
    </div>
    <div class="flex-row">
        <div class="flex-col">
            <div class="flex-row">
                <span class="label bold">Taux de change fixe</span>
                <mat-slide-toggle class="ml-20" (change)="toggleFixedRate()"
                    [checked]="fixedRateActive" color="primary"></mat-slide-toggle>
            </div>
            <mat-form-field appearance="outline" [ngClass]="!fixedRateActive ? 'disabled-fixed-rate' : ''">
                <input matInput type="number" [(ngModel)]="fixedRate">
            </mat-form-field>
        </div>
    </div>
    <div class="flex-row align-center">
        <div class="flex-col">
            <span class="label bold">Montant en {{isEuroToUsd ? 'EUR' : 'USD'}}</span>
            <mat-form-field appearance="outline">
                <input matInput type="number" [(ngModel)]="fromAmount">
            </mat-form-field>
        </div>
        <button mat-mini-fab color="primary" class="arrow-right" (click)="switchConversion()">
            <mat-icon>swap_horiz</mat-icon>
        </button>
        <div class="flex-col">
            <span class="label bold">Converti en {{isEuroToUsd ? 'USD' : 'EUR'}}</span>
            <mat-form-field appearance="outline">
                <input matInput type="number" [(ngModel)]="convertedAmount" readonly>
            </mat-form-field>
        </div>
    </div>
</div>
<div class="table-container">
  <app-history [history]="historyData"></app-history>
</div>